*{
    font-family: "Pirate One", sans-serif;
}

.container{
    background: linear-gradient(0deg,rgba(238, 174, 202, 1) 7%, rgba(255, 255, 255, 1) 46%);
    aspect-ratio: 1 / 1;
    height: auto;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    border-radius: 50px;
    align-items: center ;
    justify-content: center;
}

.image-container{
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    aspect-ratio: auto;
}

.image-container__img {
    max-width: 100%;
    height: auto;
    margin-bottom: -20px;
    margin-left: 90px;
    margin-top: -30px;
    object-fit: contain;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-bottom: -50px;
    justify-content: center;
    align-items: center;
}

.message {
    height: auto;
    width: auto;
    /*margin-top: -10px;*/
    /*margin-bottom: -20px;*/
    /*!*margin-right: -80px;*!*/
    /*margin-left: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.message h3{
    color: #1a1a1a;
}

.button-container {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: auto;
    box-sizing: border-box;
}

.button-container button{
    width: 50%;
    height: auto;
}

.favourite-btn {
    position: relative;
}

.favourite-btn-no {
    position: relative;

}