.yes-container{
    background: linear-gradient(0deg,rgba(238, 174, 202, 1) 5%, rgba(255, 255, 255, 1) 39%);
    aspect-ratio: 1 / 1;
    /*height: 500px;*/
    width: 50%;
    display: grid;
    box-sizing: border-box;
    border-radius: 50px;
    align-items: center ;
    justify-content: center;
}

.yes-image-container{
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    aspect-ratio: auto;

}

.yes-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -50px;
    justify-content: center;
    align-items: center;

}