.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffa0a0;
  align-items: center;
  justify-content: center;
}